body {
    margin: 8% 0% 0% 12%;
    background: #1F2937;
}

h1 {
    text-align: left;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    margin: 0px;
}

p {
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #D5D4D8;
    margin-bottom: 0px;
}

button {
    margin-top: 60px;
    padding: 9px 17px 9px 15px;
    width: 191px;
    height: 42px;
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

#line {
    margin-top: 35px;
    width: 446px;
    height: 0px;
    border: 1px solid #2F3E53;
    margin-bottom: 36px;
}

#text-container {
    display: flex;
    object-position: center;
    justify-content: left;
    margin: 0px;
    padding: 0px
}

#text-box-one,
#text-box-two {
    background: #273549;
    border-radius: 6px;
    width: 211px;
    height: 39px;
    display: flex;
    padding: 0px;
    vertical-align: middle;
    object-position: center;
    justify-content: center;
}

#text-box-two {
    margin-left: 24px;
}

#password1,
#password2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */
    text-align: center;

    color: #55F991;
}

.slidecontainer {
    margin-top: 10px;
    display: flex;
    justify-content: left;
    width: 446px;
    /* Width of the outside container */
    align-items: center;

}

output {
    margin-left: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    color: #FFFFFF;
}

.slider-len {
    -webkit-appearance: none;
    width: 200px;
    height: 8px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    vertical-align: middle;

}

.slider-len::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider-len::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
    margin-top: 5px;;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #04AA6D;
}

input:focus+.slider {
    box-shadow: 0 0 1px #04AA6D;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#clipboard{
        background:#04AA6D;
        background-image: url( copy-text-svgrepo-com.svg );
        background-size: 20px  ;
        display: flex;
        vertical-align: middle;
        object-position: center;
        justify-content: center;
        align-items: center;
        height: 25px; 
        width: 20px;
        background-repeat:no-repeat; 
        margin-left: 10px;
        margin-top: 5px;
        padding: 3px 3px 3px 3px;
        border-radius: 2px;
}