@font-face {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    src: local('Cursed Timer ULiL'), url('https://fonts.cdnfonts.com/s/40642/CursedTimerUlil-Aznm.woff') format('woff');
}
body {
    margin: 0;
    background-color: #1B244A;

}
#timer-body{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 50px;
    background: black;
    border-radius: 5px;
}
#timer{
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-size: 25px;
    color: red;
    margin-top: 10px;
}
.container {
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
}
h3{
    color: #EEEEEE;
    text-align: center;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    margin-bottom: 0;
    
}
button{
   font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    background-color: #1B244A;
    outline: none;
    color: #9AABD8;
    border: solid;
    border-color: #9AABD8;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.score-buttons{
     width: 45px;
    height: 45px;
}
#outer{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

button:hover {
  background-color: #9AABD8; 
  color: #1B244A;
}

button:active{
    transition-duration: 0.2s;
    background:#F94F6D;
}

.score-board{
    margin-top: 21px;
    width: 155px;
    height: 120px;
    background-color: black;
}
.increment-buttons{
    display: flex;
    justify-content:  space-between;
    margin-top: 26px;
    
}
#home-score{
    margin: 0px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
}
#guest-score{
    margin: 0px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
}

